body {
    margin: auto;
    overflow: auto;
    background-color: #022a47;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Arial';
    max-width: 70%;
  }

  h1{
    color: white;
    letter-spacing: 5px;
    font-size: 25px;
    margin-top: 5%;
    margin-inline-start: 2%;
  }

  h2{
    color: white;
    letter-spacing: 5px;
    font-size: 20px;
    /* text-decoration: underline; */
    margin-top: 3%;
    margin-inline-start: 2%;
  }

  p{
    color: white;
    letter-spacing: 2px;
    font-size: 15px;
    margin-top: 1%;
    margin-inline-start: 2%;
  }

  .unorderedList{
    margin-top: 1%;
    margin-inline-start: 1%;
  }
  .list {
    /* list-style-type: '>'; */
    /* padding-inline-start: 1ch; */
    color: white;
    letter-spacing: 2px;
    font-size: 15px;
    margin-top: 1%;
    margin-inline-start: 2%;
  }
  

  .canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
  
}

#drawingCanvas {
    width: 320px;  /* Displayed width */
    height: 320px; /* Displayed height */
    image-rendering: pixelated; /* Keeps the pixels sharp */
    border: 1px solid black; /* Optional: border for visual clarity */
}

.clearBtn{
  width: 160px;
  height: 50px;
  background-color: #016f9b;
  color: white;
}