.character-recognition{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5vh;
}

.drawing{
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.description{
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.clearBtn{
  width: 320px;
  height: 50px;
  color: black;
}

#drawingCanvas {
    width: 320px;  /* Displayed width */
    height: 320px; /* Displayed height */
    image-rendering: pixelated; /* Keeps the pixels sharp */
    border: 1px solid black; /* Optional: border for visual clarity */
}

.optimisation-config{
  display: grid;
  justify-content: left;
  align-items: left;
  color: black;
  gap: 2vh;
}

.search-area{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5vh;
  width: 40vh;
  /* height: 12vh; */
}

.search-area canvas {
  border: 1px solid black; /* Optional: Add border for visibility */
}



