.character-recognition{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vh;
}

.drawing{
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.description{
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.clearBtn{
  width: 320px;
  height: 50px;
  background-color: #016f9b;
  color: white;
}


#drawingCanvas {
    width: 320px;  /* Displayed width */
    height: 320px; /* Displayed height */
    image-rendering: pixelated; /* Keeps the pixels sharp */
    border: 1px solid black; /* Optional: border for visual clarity */
}

#searchCanvas {
  width: 600px;  /* Displayed width */
  height: 400px; /* Displayed height */
  image-rendering: pixelated; /* Keeps the pixels sharp */
  border: 1px solid white; /* Optional: border for visual clarity */
}

canvas {
  background-color: white;
}