.image-container {
    margin-top: 1%;
    display: flex;
    justify-content: Start;
}

.circular-image {
    width: 15vh; /* Adjust the width as needed */
    height: 15vh; 
    border-radius: 50%;
    object-fit: cover; /* Ensures the image covers the circular area without distortion */
  }

.wrapper{
     display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}