body {
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(315deg, rgba(60,132,206,1) 38%, rgb(2, 42, 71) 68%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
  }

  h1{
    color: white;
    text-transform: lowercase;
    letter-spacing: 5px;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    /* text-decoration: underline; */
    margin-top: 3%;
    margin-inline-start: 2%;
  }

  p{
    color: white;
    text-transform: lowercase;
    letter-spacing: 2px;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 1%;
    margin-inline-start: 2%;
  }

  .example-images{
    display: flex;
    gap: 10%; /* Space between images */
    margin-top: 2%;
    align-items: center;
    justify-content: center;
  }

  .example-images img {
    width: 30%;
    height: 25%;
    /* object-fit: cover; Ensures the image covers the area without distortion */
}

  .grp-images {
    display: flex;
    gap: 10%; /* Space between images */
    margin-top: 2%;
    align-items: center;
    justify-content: center;
  }

  .grp1{
    rotate: -25deg;
  }

  .grp2{
    rotate: 25deg;
  }

  .grp-images img {
      width: 10%;
      height: 20%;
      /* object-fit: cover; Ensures the image covers the area without distortion */
  }

  .unorderedList{
    margin-top: 1%;
    margin-inline-start: 1%;
  }
  .list {
    /* list-style-type: '>'; */
    /* padding-inline-start: 1ch; */
    color: white;
    text-transform: lowercase;
    letter-spacing: 2px;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 1%;
    margin-inline-start: 2%;
  }
  
  @keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
  }
  
  .wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
  
  .wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
  }
  
  .wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
  }
  
  @keyframes wave {
    2% {
        transform: translateX(1);
    }
  
    25% {
        transform: translateX(-25%);
    }
  
    50% {
        transform: translateX(-50%);
    }
  
    75% {
        transform: translateX(-25%);
    }
  
    100% {
        transform: translateX(1);
    }
  }