body {
  margin: auto;
  overflow: auto;
  background-color: #022a47;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Arial';
  max-width: 70%;
}

  h1{
    color: white;
    text-transform: lowercase;
    letter-spacing: 5px;
    font-size: 25px;
    /* text-decoration: underline; */
    margin-top: 5%;
    margin-inline-start: 2%;
  }

  h2{
    color: white;
    text-transform: lowercase;
    letter-spacing: 5px;
    font-size: 20px;
    /* text-decoration: underline; */
    margin-top: 3%;
    margin-inline-start: 2%;
  }

  p{
    color: white;
    text-transform: lowercase;
    letter-spacing: 2px;
    font-size: 15px;
    margin-top: 1%;
    margin-inline-start: 2%;
    text-align: center;
  }

  .image-container{
    margin-top: 3%;
    display: flex;
    gap: 5%;
  }
