html, body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #0f111a; /* ultra-dark navy */
  color: #f5f5f5;            /* white text */
}

a {
  color: #f5f5f5; /* cyan links */
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  color: #25a6aa; /* turquoise-ish */
}

h2 {
  color: #ffffff; /* white */
}

p {
  color: #b0b0b0; /* light grey */
}
